.cart-items {
  list-style: none;
  /* margin-top:300px; */
  padding: 1%;
  margin-bottom: 10px;
  color: #49796b;
  font-weight: bold;
  border-bottom: 1px solid gray;
  max-height: 20rem;
  overflow-y: scroll;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  color: #034835;
  font-weight: bold;
}
.actions {
  /* display:flex; */
  text-align: right;
  /* padding:1%; */
}
.actions button {
  cursor: pointer;
  background-color: transparent;
  margin-left: 1%;
  margin-top: 1%;
}
.actions button:hover,
.actions button:active {
  background-color: darkslategray;
  color: white;
}
.actions .button--alt {
  color: #49796b;
}

.actions .button {
  background-color: #49796b;
  color: white;
}
